<H1>Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Python
- Scala
- R
- java

Some of the popular languages that Data Scientists use are:
<br> python
<br> R
<br> Scala

Some of the commonly used libraries used by Data Scientists include:
<br> NumPy <br> SciPy <br> panda <br> ggplot2

Data Science Tools<br>
| RStudio     | Jupyterlab |Google Colab |
| ----------- | -----------|-------------|

<h3>Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

<h2> Author </h2>
    Ahmad